body {
    font-family: Arial, sans-serif;
    font-size: 15px;
    margin: 0;
    padding: 0;
    background-color:#eaf1fb;
}
main {
    max-width: 900px;
    margin: 20px auto;
    padding: 25px;
}

section {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 1px rgb(0, 0, 0.1);
}

header {
    background-color: #2e5faa;
    color: white;
    text-align: center;
    padding: 15px 0;
}

header h1 {
    margin: 0 0 10px 0;
    font-size: 25px;
}

nav {
    background-color: #213f68;
    padding: 5px;
}

nav a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
    font-size: 12px;
}

h2 {
    color: #2e5faa;
}

input[type="text"],
input[type="email"],
select {
    width: 100%;
    max-width: 700px;
    padding: 6px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid black;
    border-radius: 4px;
    display: block;
    box-sizing: border-box;

}
label {
    font-weight: normal;
}
button {
    background-color: green;
    color:white;
    border: none;
    border-radius: 5px;
    padding: 5px 15px;
    cursor: pointer;
}